 .main-container-grid {
      display: grid;
      grid-template-columns: 1fr 7fr 1fr;
      height: 100%;
    }

    .table-one {
      width: 100%;
    border: 1px solid #CCC;
    }

    .table-one > tbody > tr > td {
      border: 1px solid #CCC;
      min-height: 50px;
      padding: .5em;
    }

    .add-button {
      font-size: bold;
      float: right;
      margin: 10px;
    }

    .router-outlet {
      display: none;
    }

    .input-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .input-form-full-width {
      width: 100%;
    }


    