<div>
  <form class="input-form">
    <div *ngFor="let person of people; let i = index">
      <mat-form-field class="input-full-width">
        <input
          [(ngModel)]="person.name"
          aria-label="Name"
          matInput
          placeholder="First Name"
        />
      </mat-form-field>
      <mat-form-field class="input-full-width">
        <input [(ngModel)]="person.name" matInput placeholder="Weight (lbs)" />
      </mat-form-field>

      <table class="input-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="input-full-width">
              <input
                [(ngModel)]="person.name"
                matInput
                placeholder="Max Bench (lbs)"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="input-full-width">
              <input
                [(ngModel)]="person.name"
                matInput
                placeholder="Max Squat (lbs)"
              />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <tr>
      <button mat-raised-button color="basic" (click)="addPerson()">
        Add Person
      </button>
      <button mat-raised-button color="primary" (click)="goToPage('workout')">
        Generate Workout
      </button>
    </tr>
  </form>
</div>
